@media only screen and (max-width: 600px) {
    .nav-header .burger-icon {
      flex-direction: column;
    }

    .nav-header {
        font-size: 12px;
    }

    .burger-icon {
        font-size: 100%;
    }

    .reference {
        width: 86%;
    }

    #navigation-bar {
        width: 50%;
    }

    #flag {
        width: 14%;
    }

    .img-holder {
        display: flex;
        box-sizing: border-box;
        justify-content: center;
    }

    .img-holder img {
        display: block;
        margin: auto;
        width: 100%;
        max-width: 100%;
    }
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 2%;
    background-color: #333;
    color: white;
    height: 80px;
}

.nav-header h1, .nav-header #flag {
    vertical-align: middle;
    display: inline-block;
}

.nav-header #flag {
    margin-left: 10px;
}

.burger-icon {
    font-size: 300%;
    cursor: pointer;
}

.nav {
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    background-color: #444;
    padding: 2%;
    right: 0;
    width: 18%;
    font-size: 25px;
}

.nav a {
    color: #fff;
    padding: 10px 0;
    text-decoration: none;
}

.show {
    display: flex;
}

#main-content {
    width: 96%;
    padding: 2% 2% 0% 2%;
}

.left-article {
    width: 98%;
}

.right-article {
    width: 98%;
    float: right;
}

.article {
    display: flex;
    margin-bottom: 0.5%;
}

.text-container {
    width: 50%;
    padding: 1%;
}

.photo-container {
    width: 50%;
    padding: 1%;
    flex-wrap: wrap;
    display: flex;
}

.photo-container img {
    max-width: 100%;
    margin-bottom: 1%;
}

.burger-icon.open::after {
    content: "\2715";
    font-size: 100%;
    color: white;
}

.burger-icon.open span {
    display: none;
}

.photo-container {
    display: flex;
    flex-wrap: wrap;
}

.img-holder {
    display: flex;
    box-sizing: border-box;
}

.img-holder img {
    width: 70%;
    display: block;
    margin: auto;
    justify-content: center;
}

li {
    list-style-type: circle;
    line-height: 2;
}

a {
    color: #008188
}